body {
  background-image: linear-gradient();
}

/* ******************** Root Variables ************************** */
:root {
  /* colors */

  --color-primary: #7380ec;
  --color-Danger: #ff7782;
  --color-Sucess: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-InfoDark: #7d8da1;
  --color-Infolight: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primaryVariant: #111e88;
  --color-darkVariant: #677483;
  --color-background: #f6f6f9;

  /* Border radius */

  --cardBorderRadius: 2rem;
  --borderRadius1: 0.4rem;
  --borderRadius2: 0.8rem;
  --borderRadius3: 1.2rem;

  /* padding and box shadow */

  --cardPadding: 1.8rem;
  --paddin1: 1.2rem;
  --boxshadow: 0 2rem 3rem var(--lightColor);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Redressed", sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: #363949;
}

.container {
  display: grid;
  width: 96%;
  margin: 0% auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
  /* background-color: #ff7782; */
}

/***************************************** chinter pinter ***********************************************/

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 2rem;
  font-weight: 50;
}
h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
}

.text-muted {
  color: var(--color-InfoDark);
}

p {
  color: var(--color-darkVariant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-Danger);
}

.sucess {
  color: var(--color-Sucess);
}

.warning {
  color: var(--color-warning);
}

aside {
  height: 100vh;
  /* background-color: #7380ec; */
}

aside .top {
  /* background-color: #314be0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 0rem;
}

aside .logo img {
  width: 3.5rem;
  height: 3.5rem;
}

/***************************************** Side bar ***********************************************/

aside .sidebar {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside .top {
  position: flex;
}

aside .top h2 {
  position: inline-block;
  align-self: flex-end;
}

aside .sidebar a {
  display: flex;
  color: var(--color-InfoDark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 2.5rem;
  transition: all 300 ease;
}

aside .sidebar a i {
  font-size: 1rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 6rem;
  width: 100%;
}

aside .sidebar a.active {
  background-color: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: #7380ec;
}

aside .side a .active i {
  color: var(--color-primary);
  margin-left: calc(1rem-3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover i {
  margin-left: 1rem;
}

aside .sidebar .msg-count {
  background-color: #ff8555;
  color: var(--color-white);
  padding: 3px 10px;
  font-size: 11px;
  border-radius: var(--borderRadius1);
}

/***************************************** Main section ***********************************************/

main {
  margin-top: 3.4rem;
}

main .date {
  display: inline-block;
  background-color: var(--color-light);
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
  background: transparent;
  color: var(--color-dark);
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background: var(--color-white);
  padding: var(--cardPadding);
  border-radius: var(--cardBorderRadius);
  margin-top: 1.5rem;
  box-shadow: var(--boxshadow);
}
